/* crisesComponent's private CSS styles */
.crises {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;

  li{
    display: flex;
    align-items: center;
  }
}


.crises a {
  // flex: 1;
  width: 15em;
text-decoration: none;
color: #2c2c2c;;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 2.5em;
}

.crises a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.crises a:active {
  background-color: #525252;
  color: #fafafa;
}

.crises a.selected {
  background-color: #d6e6f7;
}

.crises a.selected:hover {
  background-color: #bdd7f5;
}

.crises a.selected:active {
  background-color: black;
  color: white;
}

.crises .badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: white;
  padding: 0 1em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.crises .name {
  align-self: center;
}
